@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,700&display=swap');

*{
    flex-shrink: 0;
}


.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 @-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-10px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-10px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

@keyframes lineStretch{
    0% {
        transform: scaleX(0.01);
        background-color: #ccc;
        }
    
      100% {
      background-color: #ccc;
      }
}


 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }


html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    width: 100%
}

.line{
    height: 5px;
  width: 95%;
  animation-name: lineStretch; 
  margin: 0 auto;
  -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.navMain{
    font-size: larger;
    text-decoration: none;
    color: black;
}

.navMenu {   
    list-style: none;
}
.navMenu li{
    display: inline-block;
    padding: 0px 20px;
    
}

.navMenu li a{
    text-decoration: none;
    color: black;
    font-style: normal;
}

.navLogo{
    cursor: pointer;
}

.main{
    margin-top: 128px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    flex-grow: 1;
}

.main .con{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.feeds{
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.feedEmbed{
    width: 50%;
}

.footer{
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: rgb(35, 35, 35);
    width: 100%;
    padding-bottom: 10px;
    flex-shrink: 0;
}

.follow{
    padding-left: 20px;
}

.call{
    padding-left: 50px;
}


.icon{
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 490px) {
    .main{
        margin-top: 32px;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .main .con{
        padding-left: 0;
        padding-right: 0;
    }
    .navMenu li{
        display: block;
    }

    .line{
        display: none;
    }

    .feeds{
        display: none;
    }
  }

